@page
@model filmeslivecoding.Pages.Filmes.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Filme</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Filme.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Filme.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Filme.DataLancamento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Filme.DataLancamento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Filme.Genero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Filme.Genero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Filme.Diretor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Filme.Diretor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Filme.Preco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Filme.Preco)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Filme.FilmeId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
