@page
@model filmeslivecoding.Pages.Filmes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Filme</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Filme.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Filme.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Filme.DataLancamento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Filme.DataLancamento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Filme.Genero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Filme.Genero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Filme.Diretor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Filme.Diretor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Filme.Preco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Filme.Preco)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Filme.FilmeId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
